extends article.pug

block moreBtns
  a.btn(href='/remnant/atlas') Atlas
  a.btn(href='/remnant/atlas/countries') Countries
  if island.country
    a.btn(href=`/remnant/atlas/countries/${island.country}`) #{capitalize(island.country)}

block image
  .container( style={ width: '100%' } )
    img( src=`/remnant/assets/islands/${pathName}.png` style={ width: '100%' } )

block glassBox
  +infoItem(
    'Country',
    [island.country ? countries[island.country].name : 'Unknown'],
    [island.country && `/remnant/atlas/countries/${island.country}`]
  )
  if island.cities.length > 0
    +infoItem(
      'Cities',
      island.cities.map(city => cities[city] ? cities[city].name : 'Unknown'),
      prefixItems(`/remnant/atlas/cities/`, island.cities)
    )